
version: 1.0.{build}

# Test against this version of Node.js
environment:
  matrix:
  - nodejs_version: "4"
  - nodejs_version: "5"
  global:
    CYG_ROOT: C:/MinGW/msys/1.0


# Install scripts. (runs after repo cloning)
install:
  - set PATH=%PATH%;C:\MinGW\msys\1.0\bin;C:\MinGW\bin
      # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version

# Post-install test scripts.
build_script:
  - cmd: 'echo Cygwin root is: %CYG_ROOT%'
  - cmd: 'echo Build folder is: %APPVEYOR_BUILD_FOLDER%'
  - cmd: 'echo Repo build branch is: %APPVEYOR_REPO_BRANCH%'
  - cmd: 'echo Repo build commit is: %APPVEYOR_REPO_COMMIT%'
  - cmd: "echo installing stuff"
  - cmd: 'echo "C:\MinGW   /mingw" >%CYG_ROOT%/etc/fstab'
  # Output useful info for debugging.
  - node --version
  - npm --version
  # run tests
  - cmd: '%CYG_ROOT%/bin/bash -lc "cd $APPVEYOR_BUILD_FOLDER; exec 0</dev/null;mount C:/MinGW /mingw; make --makefile=Makefile-Windows;"'
  # - cmd: '%CYG_ROOT%/bin/bash -lc "cd $APPVEYOR_BUILD_FOLDER; exec 0</dev/null;mount C:/MinGW /mingw; make --makefile=Makefile-Windows;"'

# Don't actually build.
build: on
