version: 1.0.{build}

# Test against this version of Node.js
environment:
  matrix:
  - nodejs_version: "4"
  - nodejs_version: "5"

# Install scripts. (runs after repo cloning)
install:
  # Get the latest stable version of Node.js or io.js
  - ps: Install-Product node $env:nodejs_version

# Post-install test scripts.
test_script:
  - node --version
  - npm --version
  - cmd: "npm install -g babel-cli babel-preset-es2015 browserify bundle-collapser traceur uglify-js"
  # run tests
  # - cmd: 'babel src/src --out-dir dist'


build: off
